<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>店铺详情</title>
    <link rel="stylesheet" href="../static/assets/css/fancybox/jquery.fancybox.css">
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../static/assets/css/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/assets/css/slippry.css">
    <link href="../static/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/assets/color/default.css">
    <link rel="stylesheet" href="../static/css/activit.css">
</head>
<body>
<header>
    <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">拾光秀照相馆</a>
            </div>

            <div class="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="current"><a href="index.html">首页</a></li>
                            <li><a href="brand">品牌</a></li>
                            <li><a href="activity">店铺</a></li>
                            <!--<li><a href="/category/list">作品</a></li>-->
                            <li><a href="works">作品</a></li>
                            <li><a  href="affiliate">合伙人</a></li>
                            <!--<li><a  href="vip">会员中心</a></li>-->
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">设置
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="notUser">
                                        <a href="register">注册</a>
                                    </li>
                                    <li class="notUser">
                                        <a href="login">登录</a>
                                    </li>
                                    <li class="inUser">
                                        <a href="javascript:void(0)" onclick="getReservation()">我的预约</a>
                                        <a href="javascript:void(0)" onclick="getMyPics()">我的照片</a>
                                        <a href="javascript:void(0)" onclick="getMyOrder()">我的订单</a>
                                        <a href="javascript:void(0)" onclick="loginOut()">退出登录</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div><!-- /.navbar-collapse -->
            </div>
            <div class="aslide_l">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1070490910&site=qq&menu=yes" >
                    <div class="aslide_a asilda">在&nbsp;线&nbsp;客&nbsp;服</div>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="main-wrap">
    <div class="main">
        <div class="banner">
            <div class="fuceng"><span>新城市开业</span></div>
            <div class="container">
                <div class="dummy"></div>
                <div class="bannerPic"></div>
            </div>
        </div>
        <div class="wrap" id="activity"><div class="citiesStroe"><div class="storeInfo"><h1>part1 初现---品牌之诞生</h1><p>拾光秀照相馆由几位关注摄影、艺术与美学的合伙人在2015年将该想法进行市场测试，由此开启了梦想照进现实的旅程。他们通过不断的摸索和研发重新将证件照与艺术照定义，用实力与行动证明这些照片可以给每一位在乎品质与服务的客户带来满意。
        </p><div class="map"><a href="javascript:;" data-class="石家庄"><span class="glyphicon glyphicon-play"></span></a></div></div><div class="storePic"><img src="https://cdn.haimati.cn/HMA_Upload/newstore20170109beijing01.jpg" alt="拾光秀照相馆"></div></div><div class="citiesStroe"><div class="storeInfo"><h1>part 2 继起——领域之深耕</h1><p>作为一家有态度、有内涵、有格调的照相馆，自创办起，拾光秀便深耕于精致证件照、职业形象照、婚姻登记照、经典毕业照、幸福全家福等“小且重要”的照片，并持续推出市场主流轻写真，在保持整体风格简约高级的同时，立足顾客喜好，告别浮夸过时的妆容，精简繁冗的拍摄流程，着力于为年轻群体提供更加优质的服务，留住最美时光。
        </p><div class="map"><a href="javascript:;" data-class="国际庄"><span class="glyphicon glyphicon-play"></span></a></div></div><div class="storePic"><img src="https://cdn.haimati.cn/HMA_Upload/newstore20170109dalian01.jpg" alt="拾光秀照相馆"></div></div><div class="citiesStroe"><div class="storeInfo"><h1>part 3 精进——理念之落实</h1><p>拾光秀提倡“轻”的生活态度，践行“轻文化”的生活理念。“轻”意味着走向本质，远离被淘汰的命运。“轻文化”，即避开传统文化中的厚重感，截取体现文化情怀的细节，并将之贯穿到我们当下的生活之中，打造舒适、简约、轻便的生活方式。拾光秀希望每位顾客都能活出轻简的人生，抛弃沉重冗杂的元素，探求生活的本真与质感。简单优雅，追求品质生活的同时重视自我个性的表达，乐享时间馈赠的每分每秒。化繁为简，将自然、简单的照片做到最好最专业，这就是拾光秀一直在打造的“轻文化。
        </p><div class="map"><a href="javascript:;" data-class="福州"><span class="glyphicon glyphicon-play"></span></a></div></div><div class="storePic"><img src="https://cdn.haimati.cn/HMA_Upload/newstore20170109fuzhou01.jpg" alt="拾光秀照相馆"></div></div><div class="citiesStroe"><div class="storeInfo"><h1>part 4 存续——门店之拓展</h1><p>在这里，拍写真不需要消耗一整天的光阴；在这里，不会碰到任何套餐式的捆绑消费；从进店到离店，你都能感受到轻松的氛围、舒适的环境、一流的服务与专精的技术。把简单的东西做到极致，拾光秀一直在路上。
        </p><div class="map"><a href="javascript:;" data-class="上海"><span class="glyphicon glyphicon-play"></span></a></div></div><div class="storePic"><img src="https://cdn.haimati.cn/HMA_Upload/newstore20170109shanghai01.jpg" alt="拾光秀照相馆"></div></div><div class="citiesStroe"><div class="storeInfo"><h1>part 5 苛求——细节之IKun</h1><p>拾光秀对细节和品质的苛求区别于业内其他商家，因而博得了众多美誉和信任。 自创办起，拾光秀照相馆便深耕证件照、婚姻登记照、个人肖像照等"小且重要"的照片，并持续推出文艺照、商务写真、主题写真等全新的个人影像服务, 希望为年轻的、在乎生活品质的人群提供优质的生活服务，展现每个人的幸福与自信。
        </p><div class="map"><a href="javascript:;" data-class="石家庄"><span class="glyphicon glyphicon-play"></span></a></div></div><div class="storePic"><img src="https://cdn.haimati.cn/HMA_Upload/newstore20170109shijiazhuang01.jpg" alt="拾光秀照相馆"></div></div></div>
    </div>
</div>
<footer>
    <div class="verybottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <p>
                            Copyright © 2016. 拾光秀@ All rights reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script rel="script" src="../static/js/jquery-1.12.4.min.js"></script>
<script rel="script" src="../static/js/activity.js"></script>
<script>
    var userId;
    $(function(){
        var user = window.localStorage.user;
        if(user){
            if(new Date().getTime()-user.time>10*60*60*1000){
                console.log("登录过期");
                window.localStorage.removeItem("user");
                $(".inUser").hide();
                $(".notUser").show();

            }else{
                userId = JSON.parse(user).userId;
                $(".inUser").show();
                $(".notUser").hide();
            }
        }else{
            $(".inUser").hide();
            $(".notUser").show();
        }
    });


    function loginOut(){
        var user = window.localStorage.user;
        if (user){
            window.localStorage.removeItem("user");
            window.location.href = "/index";
        }
    }

    function getReservation() {
        if(userId){
            window.location.href="/reservation";
        }else{
            console.log("登录过期");
        }
    }
    function getMyPics() {
        if(userId){
            window.location.href="/myPics";
        }else{
            console.log("登录过期");
        }
    }

    function getMyOrder(){
        if(userId){
            window.location.href="/getMyOrder";
        }else{
            console.log("登录过期");
        }
    }
</script>
</body>
</html>