<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>店铺详情</title>
    <link rel="stylesheet" href="../static/assets/css/fancybox/jquery.fancybox.css">
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../static/assets/css/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/assets/css/slippry.css">
    <link href="../static/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/assets/color/default.css">
    <link rel="stylesheet" href="../static/css/activit.css">
</head>
<body>
<header>
    <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">拾光秀照相馆</a>
            </div>

            <div class="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="current"><a href="index.html">首页</a></li>
                            <li><a href="brand">品牌</a></li>
                            <li><a href="activity">店铺</a></li>
                            <!--<li><a href="/category/list">作品</a></li>-->
                            <li><a href="works">作品</a></li>
                            <li><a id="yuyue" href="affiliate">合伙人</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">设置
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="notUser">
                                        <a href="register">注册</a>
                                    </li>
                                    <li class="notUser">
                                        <a href="login">登录</a>
                                    </li>
                                    <li class="inUser">
                                        <a href="javascript:void(0)" onclick="getReservation()">我的预约</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div><!-- /.navbar-collapse -->
            </div>
        </div>
    </div>
</header>
<div class="main-wrap">
    <div class="main">
        <div class="banner">
            <div class="fuceng"><span>新城市开业</span></div>
            <div class="container">
                <div class="dummy"></div>
                <div class="bannerPic"></div>
            </div>
        </div>
        <div class="wrap" id="activity"><div class="citiesStroe"><div class="storeInfo"><h1>石家庄-滨江国际店</h1><p>拾光秀照相馆国际庄首店，入驻国际庄滨江国际店购物中心。这是一个提供贴心的北欧式服务的购物中心，滨江国际店秉承“重视家庭，崇尚自然，以人为本”的企业理念。同样注重客户体验的海马体来了，一流的店铺形象设计，贴心到位的服务，安全舒适的空间，轻快简的拍摄风格，我们想为你在国际庄留下一年一份回忆。
        </p><div class="map"><a href="javascript:;" data-class="石家庄"><span class="glyphicon glyphicon-play"></span></a></div></div><div class="storePic"><img src="https://cdn.haimati.cn/HMA_Upload/newstore20170109beijing01.jpg" alt="拾光秀照相馆"></div></div><div class="citiesStroe"><div class="storeInfo"><h1>石家庄-西美花街店</h1><p>拾光秀照相馆在国际庄的第二家店来到了国际庄西美花街店，地处青泥洼商圈核心地段。西美花街店致力于打造“生活从此精彩”概念，带给消费者的不仅仅是优质的消费体验，更是引领顾客全身心享受乐活人生。拾光秀照相馆将会尽心为国际庄人民提供全新的拍摄体验，让更多国际庄人喜欢上拍照，享受一张轻快简的精致照片出炉，改变国际庄的摄影气候。
        </p><div class="map"><a href="javascript:;" data-class="国际庄"><span class="glyphicon glyphicon-play"></span></a></div></div><div class="storePic"><img src="https://cdn.haimati.cn/HMA_Upload/newstore20170109dalian01.jpg" alt="拾光秀照相馆"></div></div><div class="citiesStroe"><div class="storeInfo"><h1>天津市-海光寺店</h1><p>拾光秀照相馆天津店坐落于海西美食天堂——东二环泰禾广场。它以“新商业中心、新生活方式、新置业理念”为理念。这里处处皆美景，处处皆美食，海马体的到来为天津更添一份色彩，约上三两朋友，拍一张照片，吃一餐饭，此刻生活的幸福简单而美好。
        </p><div class="map"><a href="javascript:;" data-class="福州"><span class="glyphicon glyphicon-play"></span></a></div></div><div class="storePic"><img src="https://cdn.haimati.cn/HMA_Upload/newstore20170109fuzhou01.jpg" alt="拾光秀照相馆"></div></div><div class="citiesStroe"><div class="storeInfo"><h1>保定市-茂业中心店</h1><p>拾光秀照相馆在上海的第二家店坐落于来福士广场，地处城市中心人民广场黄金地段，紧邻购物地标南京路步行街。这是海马体继成都来福士后第二家来福士门店，致力于为顾客提供完美的艺术美学体验的海马体与来福士“筑就人文空间”的理念不谋而合，两者的结合将为年轻时尚的消费者带来更极致的美学与消费体验。
        </p><div class="map"><a href="javascript:;" data-class="上海"><span class="glyphicon glyphicon-play"></span></a></div></div><div class="storePic"><img src="https://cdn.haimati.cn/HMA_Upload/newstore20170109shanghai01.jpg" alt="拾光秀照相馆"></div></div><div class="citiesStroe"><div class="storeInfo"><h1>保定市-河大新区店</h1><p>拾光秀照相馆来到了华北地区最大"城市综合体"——石家庄万达广场。这是海马体入驻万达广场的第四家店，看重的是万达集团着力于打造国际现代化的精品购物中心的追求。海马体是全国第一家入驻Shopping Mall的照相馆，同时极具现代化互联网思维，对于石家庄人民来说，是完全不一样的体验。
        </p><div class="map"><a href="javascript:;" data-class="石家庄"><span class="glyphicon glyphicon-play"></span></a></div></div><div class="storePic"><img src="https://cdn.haimati.cn/HMA_Upload/newstore20170109shijiazhuang01.jpg" alt="拾光秀照相馆"></div></div></div>
    </div>
</div>
<footer>
    <div class="verybottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <p>
                            Copyright © 2016. 拾光秀@ All rights reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script rel="script" src="../static/js/activity.js"></script>
</body>
</html>