<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>合伙人</title>
    <link rel="stylesheet" href="../static/assets/css/fancybox/jquery.fancybox.css">
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../static/assets/css/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/assets/css/slippry.css">
    <link href="../static/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/assets/color/default.css">
    <link rel="stylesheet" href="../static/css/affiliate.css">
</head>
<body>
<header>
    <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">拾光秀照相馆</a>
            </div>

            <div class="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="current"><a href="index.html">首页</a></li>
                            <li><a href="brand">品牌</a></li>
                            <li><a href="activity">店铺</a></li>
                            <!--<li><a href="/category/list">作品</a></li>-->
                            <li><a href="works">作品</a></li>
                            <li><a id="yuyue" href="affiliate">合伙人</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">设置
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="notUser">
                                        <a href="register">注册</a>
                                    </li>
                                    <li class="notUser">
                                        <a href="login">登录</a>
                                    </li>
                                    <li class="inUser">
                                        <a href="javascript:void(0)" onclick="getReservation()">我的预约</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div><!-- /.navbar-collapse -->
            </div>
        </div>
    </div>
</header>
<div class="main-wrap">
    <div class="main">
        <div>
            <div class="wrap">
                <div class="container">
                    <div class="dummy"></div>
                    <div class="bannerPic"></div>
                </div>
            </div>
            <div class="cooperation">
                <h3>合作流程</h3>
                <div class="splitLine"></div>
                <div class="process">
                    <div class="pro-top">
                        <div class="warp pull-left ">
                            <div class="img">
                                <img src="http://cdn.haimati.cn/Static/css/img/icon-xinxi.png" alt="">
                                <p>了解信息</p>
                                <span>Unders the information</span>
                            </div>
                            <div class="jiantou">
                                <img src="http://cdn.haimati.cn/Static/css/img/dashed_1.png" class="down">
                            </div>
                        </div>
                        <div class="warp pull-left ">
                            <div class="img">
                                <img src="http://cdn.haimati.cn/Static/css/img/icon-kaohe.png" alt="">
                                <p>考核签约</p>
                                <span>The a ssessment sign</span>
                            </div>
                            <div class="jiantou">
                                <img src="http://cdn.haimati.cn/Static/css/img/dashed_2.png" class="down up">
                            </div>
                        </div>
                        <div class="warp pull-left ">
                            <div class="img">
                                <img src="http://cdn.haimati.cn/Static/css/img/icon-shop.png" alt="">
                                <p>支持建店</p>
                                <span>Support to build shop</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro-bottom">
                        <div class="warp pull-left last ">
                            <div class="img">
                                <img src="http://cdn.haimati.cn/Static/css/img/icon-tongchou.png" alt="">
                                <p>开业统筹</p>
                                <span>Open plan as a whole</span>
                            </div>
                            <div class="jiantou">
                                <img src="http://cdn.haimati.cn/Static/css/img/dashed_1.png" class="down">
                            </div>
                        </div>
                        <div class="warp pull-left next">
                            <div class="img">
                                <img src="http://cdn.haimati.cn/Static/css/img/icon-peixun.png" alt="">
                                <p>人员培训</p>
                                <span>Person training</span>
                            </div>
                            <div class="jiantou">
                                <img src="http://cdn.haimati.cn/Static/css/img/dashed_2.png" class="down up">
                            </div>
                        </div>
                        <div class="warp pull-left dudao">
                            <div class="img">
                                <img src="http://cdn.haimati.cn/Static/css/img/icon-dudao.png" alt="">
                                <p>督导开业</p>
                                <span>To supervise the opening</span>
                            </div>
                            <div class="jiantou">
                                <img src="http://cdn.haimati.cn/Static/css/img/dashed_1.png" class="down">
                            </div>
                        </div>
                        <div class="warp pull-left last">
                            <div class="img">
                                <img src="http://cdn.haimati.cn/Static/css/img/icon-yunyin.png" alt="">
                                <p>开始运营</p>
                                <span>To begin operation</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toSupport">
                <div class="content">
                    <h2>合作支持</h2>
                    <div class="splitLine"></div>
                    <div class="s-warp">
                        <div class="td-warp pull-left border-bottom border-right">
                            <div class="td-center">
                                <div class="tab-img">
                                    <img src="http://cdn.haimati.cn/Static/css/img//icon-internet.png">
                                </div>
                                <div class="text">
                                    <h3>顶尖互联网技术</h3>
                                    <p>总部提供线上PC端+移动端预约接口，承接网站性能优化、功能完善、客户体验提升的职责，为店铺量身定制的在线OA系统、ERP系统，便于店铺管理。</p>
                                </div>
                            </div>
                        </div>
                        <div class="td-warp pull-left border-bottom border-right">
                            <div class="td-center">
                                <div class="tab-img">
                                    <img src="http://cdn.haimati.cn/Static/css/img//icon-guanli.png">
                                </div>
                                <div class="text">
                                    <h3>完善的运营管理</h3>
                                    <p>总部代运营，提供全方位的培训、管理、支持、以总部代运营的模式使双方成为利益共同体。</p>
                                </div>
                            </div>
                        </div>
                        <div class="td-warp pull-left border-bottom">
                            <div class="td-center">
                                <div class="tab-img">
                                    <img src="http://cdn.haimati.cn/Static/css/img/icon-team.png">
                                </div>
                                <div class="text">
                                    <h3>新时代营销团队</h3>
                                    <p>总部有一支专业的营销团队，负责计划、实施全国性的市场推广和营销活动，提供营销数据分析及战略制定。实时紧跟社会潮流，与各大品牌、网络红人合作，提升拾光秀品牌影响力。</p>
                                </div>
                            </div>
                        </div>
                        <div class="td-warp pull-left border-right">
                            <div class="td-center">
                                <div class="tab-img">
                                    <img src="http://cdn.haimati.cn/Static/css/img//icon-idea.png">
                                </div>
                                <div class="text">
                                    <h3>强大的研发创新</h3>
                                    <p>拾光秀照相馆拥有一支专业的产品研发团队，根据圣诞节、情人节、新年等重点节日，研发拍摄风格，广受年轻人的喜爱。</p>
                                </div>
                            </div>
                        </div>
                        <div class="td-warp pull-left border-right">
                            <div class="td-center">
                                <div class="tab-img">
                                    <img src="http://cdn.haimati.cn/Static/css/img//icon-add.png">
                                </div>
                                <div class="text">
                                    <h3>专业选址团队</h3>
                                    <p>总部提供市场选址、调研、考察、门店图纸，保持门店风格一致，帮助进驻当地最好的商场，委派施工监理协助装修，提供装修采购清单等，提高开业经营成功率。</p>
                                </div>
                            </div>
                        </div>
                        <div class="td-warp pull-left">
                            <div class="td-center">
                                <div class="tab-img">
                                    <img src="http://cdn.haimati.cn/Static/css/img/icon-money.png">
                                </div>
                                <div class="text">
                                    <h3>精准的财务支持</h3>
                                    <p>总部提供财务数据分析，保障财务健康与安全。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toBePartner">
                <div class="p-warp">
                    <h3>合作人申请</h3>
                    <div class="splitLine"></div>
                </div>
                <div class="p-text pull-left">
                    <h2>HIMO</h2>
                    <p>认同拾光秀照相馆&nbsp; 企业文化</p>
                </div>
                <span class="pull-left"></span>
                <div class="p-text pull-left">
                    <h2>MR</h2>
                    <p>具备优秀的管理能力</p>
                </div>
                <span class="pull-left"></span>
                <div class="p-text pull-left">
                    <h2>RD</h2>
                    <p>具备优良的财务资质和当地资源</p>
                </div>
                <!--<button class="btn btn-primary button onlineBtn">在线申请</button>-->
            </div>
        </div>
       <!-- <div class="applyModel">
            <div class="applyMaskLayer"></div>
            <div id="applyModel">
                <div class="applyWrap">
                    <div class="title">
                        <h1>申请信息</h1>
                        <h3>information</h3>
                    </div>
                    <form action="" class="form-inline">
                        <div class="warp">
                            <div class="baseinfo">
                                <div class="form-group">
                                    <label for="name">姓名</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group pull-right">
                                    <label for="phone">电话</label>
                                    <input type="text" class="form-control" id="phone">
                                </div>
                            </div>
                            <div class="baseinfo" style="margin-top: 20px;">
                                <div class="form-group">
                                    <label for="name">邮箱</label>
                                    <input type="email" class="form-control" id="email" style="width:180px;">
                                </div>
                            </div>
                            <div class="address" style="margin-top: 31px;">
                                <div class="form-group">
                                    <label>意向合作区</label>
                                    <select name="s_province" id="s_province">
                                        <option value="省份">省份</option>
                                    </select>
                                    <select name="s_city" class="cityItems" id="s_city">
                                        <option value="地级市">地级市</option>
                                    </select>
                                </div>
                            </div>
                            <div class="job">
                                <div class="form-group">
                                    <label>目前从事职业</label>
                                    <textarea class="form-control textcontent career"></textarea>
                                </div>
                            </div>
                            <div class="job ">
                                <div class="form-group">
                                    <label>给我们的留言</label>
                                    <textarea class="form-control textcontent messages"></textarea>
                                </div>
                            </div>
                        </div>
                        &lt;!&ndash;<div class="applyBtn">
                            <button type="button" class="btn btn-primary">提交申请</button>
                        </div>&ndash;&gt;
                    </form>
                </div>
            </div>
        </div>-->

    </div>
</div>
<footer>
    <div class="verybottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <p>
                            Copyright © 2016. 拾光秀@ All rights reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
<script src="../static/assets/js/bootstrap.js"></script>
<script src="../static/js/affiliate.js"></script>
<script>
    var userId;
    $(function(){
        var user = window.localStorage.user;
        if(user){
            if(new Date().getTime()-user.time>10*60*60*1000){
                console.log("登录过期");
                window.localStorage.removeItem("user");
                $(".inUser").hide();
                $(".notUser").show();

            }else{
                userId = JSON.parse(user).userId;
                $(".inUser").show();
                $(".notUser").hide();
            }
        }else{
            $(".inUser").hide();
            $(".notUser").show();
        }
    });
</script>
</body>
</html>