<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>品牌</title>
    <link rel="stylesheet" href="../static/assets/css/fancybox/jquery.fancybox.css">
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../static/assets/css/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/assets/css/slippry.css">
    <link href="../static/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/assets/color/default.css">
    <link rel="stylesheet" href="../static/css/brand.css">
    <link rel="stylesheet" href="../static/css/swiper-3.3.1.min.css">
</head>
<body>
<header>
    <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">拾光秀照相馆</a>
            </div>

            <div class="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="current"><a href="index.html">首页</a></li>
                            <li><a href="brand">品牌</a></li>
                            <li><a href="activity">店铺</a></li>
                            <!--<li><a href="/category/list">作品</a></li>-->
                            <li><a href="works">作品</a></li>
                            <li><a id="yuyue" href="affiliate">合伙人</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">设置
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="notUser">
                                        <a href="register">注册</a>
                                    </li>
                                    <li class="notUser">
                                        <a href="login">登录</a>
                                    </li>
                                    <li class="inUser">
                                        <a href="javascript:void(0)" onclick="getReservation()">我的预约</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div><!-- /.navbar-collapse -->
            </div>
        </div>
    </div>
</header>
<div class="main-wrap">
    <div class="main">

        <div class="warp">
            <div class="aboutBrand">
                <div class="brandTitle">
                    <span></span>
                    <em>ABOUT MANTU</em>
                    <span></span>
                </div>
                <div class="content">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transform: translate3d(-1491px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="1" style="width: 467px; margin-right: 30px;">
                            <img src="http://cdn.haimati.cn/Static/css/img/mantu1.jpg" alt="">
                        </div>
                            <div class="swiper-slide" data-swiper-slide-index="0" style="width: 467px; margin-right: 30px;">
                                <img src="http://cdn.haimati.cn/Static/css/img/mantu2.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 467px; margin-right: 30px;">
                                <img src="http://cdn.haimati.cn/Static/css/img/mantu1.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" style="width: 467px; margin-right: 30px;">
                                <img src="http://cdn.haimati.cn/Static/css/img/mantu2.jpg" alt="">
                            </div></div>
                    </div>
                    <div class="introuced">
                        <h3>WHAT IS MANTU</h3>
                        <span></span>
                        <div class="text">
                            <p>杭州缦图摄影有限公司成立于2011年，旗下有缦图摄影，海马体照相馆，吴雨奇工作室，HIMO KIDS四大品牌。</p>
                            <p>缦图摄影主要定位于写真摄影，主要开展以轻写真、高级定制、商业写真为核心的摄影业务； 海马体照相馆以“精致证件照”为主营业务，用轻快简的摄影模式为顾客留下一年一份回忆； 吴雨奇工作室是把化妆与新科技结合的品牌，业务包含美甲、美睫、化妆、韩式半永久； HIMO KIDS则是专为0-12岁儿童拍摄证件照和轻写真的品牌，同时致力于打造儿童休闲娱乐社交场所。
                            </p>
                            <p>四个品牌具有各自独立的文化，但又具有一定的联系。最终我们希望通过这些品牌的运作与缦图所有伙伴的共同努力，将我们自身推向更高的高度，直至完成“有摄影的地方就有缦图”这个伟大的使命。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aboutBrand">
                <div class="brandTitle">
                    <span></span>
                    <em>ABOUT HIMO</em>
                    <span></span>
                </div>
                <div class="content">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transform: translate3d(-1491px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="1" style="width: 467px; margin-right: 30px;">
                            <img src="http://cdn.haimati.cn/Static/css/img/hma3.jpg" alt="">
                        </div>
                            <div class="swiper-slide" data-swiper-slide-index="0" style="width: 467px; margin-right: 30px;">
                                <img src="http://cdn.haimati.cn/Static/css/img/hma2.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 467px; margin-right: 30px;">
                                <img src="http://cdn.haimati.cn/Static/css/img/hma3.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" style="width: 467px; margin-right: 30px;">
                                <img src="http://cdn.haimati.cn/Static/css/img/hma2.jpg" alt="">
                            </div></div>
                    </div>
                    <div class="introuced">
                        <h3>WHAT IS HIMO</h3>
                        <span></span>
                        <div class="text">
                            <p>海马体照相馆是杭州缦图摄影旗下“精致证件照”轻品牌，主营证件照、形象照、文艺照、全家福等。</p>
                            <p>具有丰富的产品线和专业的拍摄流程，用不将就的态度，拍一张极致的照片，坚持符合年轻人的喜好，引领时代潮流。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aboutBrand">
                <div class="brandTitle">
                    <span></span>
                    <em>ABOUT CONCEPT</em>
                    <span></span>
                </div>
                <div class="content">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transform: translate3d(-1491px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="1" style="width: 467px; margin-right: 30px;">
                            <img src="http://cdn.haimati.cn/Static/css/img/hmaconcept2.jpg" alt="">
                        </div>
                            <div class="swiper-slide" data-swiper-slide-index="0" style="width: 467px; margin-right: 30px;">
                                <img src="http://cdn.haimati.cn/Static/css/img/hmaconcept.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 467px; margin-right: 30px;">
                                <img src="http://cdn.haimati.cn/Static/css/img/hmaconcept2.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" style="width: 467px; margin-right: 30px;">
                                <img src="http://cdn.haimati.cn/Static/css/img/hmaconcept.jpg" alt="">
                            </div></div>
                    </div>
                    <div class="introuced">
                        <h3>WHAT IS HIMO CONCEPT</h3>
                        <span></span>
                        <div class="text">
                            <p>我们是记忆的中转站，留下片刻的你，海马体，人类大脑中主管记忆的机能，它的形状和海马体相似，因此被称为海马体。</p>
                            <p>在记忆的过程中，它充当着中转站的功能，没有传递给它的信息，就会从我们大脑中化为泡影。我们想做你的海马体，成为你记忆中的中转站，让一切舍不得忘掉的都留下来。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<footer>
    <div class="verybottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <p>
                            Copyright © 2016. 拾光秀@ All rights reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
<script src="../static/assets/js/bootstrap.js"></script>
<script src="../static/js/swiper-3.3.1.min.js"></script>
<script src="../static/js/brand.js"></script>
<script>
    var userId;
    $(function(){
        var user = window.localStorage.user;
        if(user){
            if(new Date().getTime()-user.time>10*60*60*1000){
                console.log("登录过期");
                window.localStorage.removeItem("user");
                $(".inUser").hide();
                $(".notUser").show();

            }else{
                userId = JSON.parse(user).userId;
                $(".inUser").show();
                $(".notUser").hide();
            }
        }else{
            $(".inUser").hide();
            $(".notUser").show();
        }
    });
</script>
</body>
</html>