<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>拾光秀照相馆</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- styles -->
<link rel="stylesheet" href="../static/assets/css/fancybox/jquery.fancybox.css">
<link href="../static/assets/css/bootstrap.css" rel="stylesheet" />
<link href="../static/assets/css/bootstrap-theme.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/assets/css/slippry.css">
<link href="../static/assets/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/assets/color/default.css">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script src="../static/assets/js/modernizr.custom.js"></script>
</head>
<body>
<header>
<div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">拾光秀照相馆</a>
    </div>

	<div class="navigation">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li class="current"><a href="index.html">首页</a></li>
					<li><a href="brand">品牌</a></li>
					<li><a href="activity">店铺</a></li>
					<!--<li><a href="/category/list">作品</a></li>-->
					<li><a href="works">作品</a></li>
					<li><a  href="affiliate">合伙人</a></li>
					<li><a  href="vip">会员中心</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">设置
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="notUser">
								<a href="register">注册</a>
							</li>
							<li class="notUser">
								<a href="login">登录</a>
							</li>
							<li class="inUser">
								<a href="javascript:void(0)" onclick="getReservation()">我的预约</a>
								<a href="javascript:void(0)" onclick="getMyPics()">我的照片</a>
								<a href="javascript:void(0)" onclick="getMyOrder()">我的订单</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div><!-- /.navbar-collapse -->
	</div>
	  <div class="aslide_l">
		  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1070490910&site=qq&menu=yes" >
		  <div class="aslide_a asilda">在&nbsp;线&nbsp;客&nbsp;服</div>
		  </a>
	  </div>
  </div>
</div>
</header>
<!-- section intro -->
<section id="intro">
			<ul id="slippry-slider">
			  <li>
				<a href="#slide1"><img src="../static/assets/img/slide/5.jpg"></a>
			  </li>
			  <li>
				<a href="#slide2"><img src="../static/assets/img/slide/6.jpeg"></a>
			  </li>
			  <li>
				<a href="#slide3"><img src="../static/assets/img/slide/7.jpeg"></a>
			  </li>
			</ul>
</section>
<!-- end intro -->
<!-- Section about -->
<section id="about" class="section">
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="heading">
				<h3><span>About us</span></h3>
			</div>
			<div class="sub-heading">
				<p style="font-size: 36px;color: #262626;text-align:center;line-height:60px">
					拾取时光 &nbsp;&nbsp;&nbsp;&nbsp;
					<span style="color:#c60404">秀</span>
					出美丽
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="team-box">
			<img src="../static/assets/img/dummies/team5.jpg" alt="" class="img-responsive" />
			<div class="roles">
				<h5><strong>林允儿</strong></h5>
				<p>
					总监
				</p>
				<!--<ul class="social-profile">
					<li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
				</ul>-->
			</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="team-box">
			<img src="../static/assets/img/dummies/team6.jpg" alt="" class="img-responsive" />
			<div class="roles">
				<h5><strong>Jackson Yee</strong></h5>
				<p>
					首席摄影师
				</p>
				<!--<ul class="social-profile">
					<li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
				</ul>-->
			</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="team-box">
			<img src="../static/assets/img/dummies/team7.jpg" alt="" class="img-responsive" />
			<div class="roles">
				<h5><strong>陈立农</strong></h5>
				<p>
					摄影师
				</p>
				<!--<ul class="social-profile">
					<li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
				</ul>-->
			</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="team-box">
			<img src="../static/assets/img/dummies/team8.jpg" alt="" class="img-responsive" />
			<div class="roles">
				<h5><strong>锤锤</strong></h5>
				<p>
					摄影师
				</p>
				<!--<ul class="social-profile">
					<li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
				</ul>-->
			</div>
			</div>
		</div>
	</div>
</div>
</section>
<!-- end section about -->
<!-- section works -->
<section id="works" class="section gray">
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="heading">
				<h3><span>简介</span></h3>
			</div>
			<div class="sub-heading">
				<p>
					拾光秀是一个以提供“醉美证件照、文艺写真照、商务形象照、经典毕业照、幸福全家福”为核心服务的精品照相馆。
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
						<ul class="grid effect" id="grid">
						<li>
							<a class="fancybox" data-fancybox-group="gallery" title="Portfolio name" href="../static/assets/img/portfolio/1.jpg">
								<img src="../static/assets/img/portfolio/1.jpg" alt="" />
							</a>						
						</li>
						<li><a href="../static/assets/img/portfolio/2.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="../static/assets/img/portfolio/2.jpg" alt="" /></a></li>
						<li><a href="../static/assets/img/portfolio/3.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="../static/assets/img/portfolio/3.jpg" alt="" /></a></li>
						<li><a href="../static/assets/img/portfolio/4.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="../static/assets/img/portfolio/4.jpg" alt="" /></a></li>
						<li><a href="../static/assets/img/portfolio/5.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="../static/assets/img/portfolio/5.jpg" alt="" /></a></li>
						<li><a href="../static/assets/img/portfolio/6.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="../static/assets/img/portfolio/6.jpg" alt="" /></a></li>
						<li><a href="../static/assets/img/portfolio/7.png" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="../static/assets/img/portfolio/7.png" alt="" /></a></li>
						<li><a href="../static/assets/img/portfolio/8.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="../static/assets/img/portfolio/8.jpg" alt="" /></a></li>
						<li><a href="../static/assets/img/portfolio/9.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="../static/assets/img/portfolio/9.jpg" alt="" /></a></li>
						<li><a href="../static/assets/img/portfolio/10.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="../static/assets/img/portfolio/10.jpg" alt="" /></a></li>
						<li><a href="../static/assets/img/portfolio/11.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="../static/assets/img/portfolio/11.jpg" alt="" /></a></li>
						<li><a href="../static/assets/img/portfolio/12.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="../static/assets/img/portfolio/12.jpg" alt="" /></a></li>
						<li><a href="../static/assets/img/portfolio/13.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="../static/assets/img/portfolio/13.jpg" alt="" /></a></li>
						<li><a href="../static/assets/img/portfolio/14.jpg" class="fancybox" data-fancybox-group="gallery" title="Portfolio name"><img src="../static/assets/img/portfolio/14.jpg" alt="" /></a></li>
						</ul>
		</div>
	</div>
</div>
</section>
<!-- section works -->
<!-- section contact -->
<!--<section id="contact" class="section">
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="heading">
				<h3><span>Get in touch</span></h3>
			</div>
			<div class="sub-heading">
				<p>
					 Lorem ipsum dolor sit amet, mutat paulo simul per no, assum fastidii vituperata eam no.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h4><i class="icon-envelope"></i><strong>Contact form</strong></h4>
			<p>
				Want to work with us or just want to say hello? Don't hesitate to get in touch!
			</p>
			&lt;!&ndash; start contact form &ndash;&gt;
						<div class="cform" id="contact-form">
							<div id="sendmessage">
								 Your message has been sent. Thank you!
							</div>
							<form action="contact/contact.php" method="post" role="form" class="contactForm">
							  <div class="form-group">
								<label for="name">Your Name</label>
								<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
								<div class="validation"></div>
							  </div>
							  <div class="form-group">
								<label for="email">Your Email</label>
								<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
								<div class="validation"></div>
							  </div>
							  <div class="form-group">
								<label for="subject">Subject</label>
								<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="maxlen:4" data-msg="Please enter at least 8 chars of subject" />
								<div class="validation"></div>
							  </div>
							  <div class="form-group">
								<label for="message">Message</label>
								<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
								<div class="validation"></div>
							  </div>
							  
							  <button type="submit" class="btn btn-lg btn-theme pull-left">Send Message</button>
							</form>

						</div>
						&lt;!&ndash; end contact form &ndash;&gt;
						<div class="clear"></div>
		</div>
		<div class="col-md-6">
						<h4>Find our location</h4>
						<p>View from google map</p>
						&lt;!&ndash; map &ndash;&gt;
						<div id="section-map" class="clearfix">
							<div id="map"></div>
						</div>	
		</div>
	</div>
</div>
</section>-->
<!-- end section contact -->
<footer>
<div class="verybottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="aligncenter">
                <ul class="social-network social-circle">
                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>	
				</div>				
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="aligncenter">
					<p>
						Copyright © 2016. 拾光秀@ All rights reserved
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</footer>
<a href="#" class="scrollup"><i class="fa fa-angle-up fa-2x"></i></a>
<!-- javascript -->
<script src="../static/assets/js/jquery-1.9.1.min.js"></script>
<script src="../static/assets/js/jquery.easing.js"></script>
<script src="../static/assets/js/classie.js"></script>
<script src="../static/assets/js/bootstrap.js"></script>
<script src="../static/assets/js/slippry.min.js"></script>
<script src="../static/assets/js/nagging-menu.js"></script>
<script src="../static/assets/js/jquery.nav.js"></script>
<script src="../static/assets/js/jquery.scrollTo.js"></script>
<script src="../static/assets/js/jquery.fancybox.pack.js"></script>
<script src="../static/assets/js/jquery.fancybox-media.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>-->
<script src="../static/assets/js/masonry.pkgd.min.js"></script>
<script src="../static/assets/js/imagesloaded.js"></script>
<script src="../static/assets/js/jquery.nicescroll.min.js"></script>
<script src="../static/assets/js/validate.js"></script>
<script src="../static/assets/js/AnimOnScroll.js"></script>
    <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );
    </script>
<script>
    var userId;
    $(function(){
        var user = window.localStorage.user;
        if(user){
			if(new Date().getTime()-user.time>10*60*60*1000){
			    console.log("登录过期");
			    window.localStorage.removeItem("user");
                $(".inUser").hide();
                $(".notUser").show();

			}else{
				userId = JSON.parse(user).userId;
                $(".inUser").show();
                $(".notUser").hide();
			}
		}else{
            $(".inUser").hide();
            $(".notUser").show();
		}
	});
	$(document).ready(function(){
	  $('#slippry-slider').slippry(
		defaults = {
			transition: 'vertical',
			useCSS: true,
			speed: 5000,
			pause: 3000,
			initSingle: false,
			auto: true,
			preload: 'visible',
			pager: false,		
		} 
	  
	  );
	});
	
	function getReservation() {
	    if(userId){
            window.location.href="/reservation";
        }else{
	        console.log("登录过期");
		}
    }
    function getMyPics() {
	    if(userId){
            window.location.href="/myPics";
        }else{
	        console.log("登录过期");
		}
    }

    function getMyOrder(){
        if(userId){
            window.location.href="/getMyOrder";
        }else{
            console.log("登录过期");
        }
	}
	/*$("#yuyue").onclick(function(){

	    if(1){
            window.location.href="./revation.html";
		}else{
	        //跳转到登录页面
		}
	});*/

</script>
<style>
	.aslide_l {
		position: fixed;
		width: 33px;
		height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		top: 25%;
		left: 0;
	}
	.aslide_l .asilda {
		color: #fff;
		background: #2b47a5;
		font-size: 15px;
		height: 116px;
		text-align: center;
		border-radius: 0 8px 8px 0;
		writing-mode: vertical-lr;
		line-height: 30px;
		cursor: pointer;
		flex: auto;
	}
</style>
</body>
</html>