<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作品展示</title>
    <link rel="stylesheet" href="../static/assets/css/fancybox/jquery.fancybox.css">
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../static/assets/css/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/assets/css/slippry.css">
    <link href="../static/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/assets/color/default.css">
    <link href="../static/css/sweetalert.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/lightbox.css">
    <link rel="stylesheet" href="../static/css/works.css">
</head>
<body>
<header>
    <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">拾光秀照相馆</a>
            </div>

            <div class="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="current"><a href="index.html">首页</a></li>
                            <li><a href="brand">品牌</a></li>
                            <li><a href="activity">店铺</a></li>
                            <!--<li><a href="/category/list">作品</a></li>-->
                            <li><a href="works">作品</a></li>
                            <li><a id="yuyue" href="affiliate">合伙人</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">设置
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="notUser">
                                        <a href="register">注册</a>
                                    </li>
                                    <li class="notUser">
                                        <a href="login">登录</a>
                                    </li>
                                    <li class="inUser">
                                        <a href="javascript:void(0)" onclick="getReservation()">我的预约</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div><!-- /.navbar-collapse -->
            </div>
        </div>
    </div>
</header>
<div class="main-wrap">
    <div class="main">

        <div class="warp">
            <div class="container">
                <div class="dummy"></div>
                <div class="bannerPic"></div>
            </div>
            <div class="navModel">
                <!--<ul>
                    <li class="fontBigger"><a data-class="全部产品" data-id="0">全 部</a></li>
                    <li th:class="${cateStat.index} eq 0?'layui-this'" th:each="category,cateStat : ${categories}" th:id="${category.id}" th:text="${category.name}" >
                        <a href="javascript:;" th:attr="data-id=${category.id}"  data-class="功能类" th:text="${category.name}"></a>
                    </li>
                    &lt;!&ndash;<li><a href="javascript:;" data-id="2" data-class="功能类">精致签证照</a></li>
                    <li><a href="javascript:;" data-id="15" data-class="轻写真">全家福</a></li>
                    <li><a href="javascript:;" data-id="25" data-class="轻写真">文艺照</a></li>
                    <li><a href="javascript:;" data-id="29" data-class="轻写真">宠物照</a></li>
                    <li><a href="javascript:;" data-id="157" data-class="功能类">结婚照</a></li>
                    <li><a href="javascript:;" data-id="189" data-class="功能类">精致证件照</a></li>
                    <li><a href="javascript:;" data-id="194" data-class="功能类">职业形象照(AB类6人以上)</a></li>
                    <li><a href="javascript:;" data-id="196" data-class="功能类">职业形象照(DE类6人以上)</a></li>
                    <li><a href="javascript:;" data-id="241" data-class="功能类">职业形象照</a></li>
                    <li><a href="javascript:;" data-id="300" data-class="轻写真">生日照-单人</a></li>
                    <li><a href="javascript:;" data-id="303" data-class="轻写真">生日照-闺蜜</a></li>
                    <li><a href="javascript:;" data-id="306" data-class="轻写真">生日照-情侣</a></li>&ndash;&gt;
                </ul>-->
                <div class="nav-ClassStyle"><a href="javascript:;" style="display:none;">全年主打</a></div>
            </div>
            <div class="worksShow">
                <div id="masonry" class="container-fluid" style="position: relative; width: 1000px; height: 588px;">
                </div>
                <div class="loadedWrap">
                    <p class="loaded">照片加载完了哦</p>
                </div>
                <div class="loadingTip " style="display: none;"></div>
            </div>

        </div>
        <div class="backTop" style="display: none;">
            <a href="#" class="glyphicon glyphicon-arrow-up to-top"></a>
        </div>
    </div>
</div>
<footer>
    <div class="verybottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter">
                        <p>
                            Copyright © 2016. 拾光秀@ All rights reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="../static/js/AnimOnScroll.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
<script src="../static/assets/js/bootstrap.js"></script>
<script src="../static/js/classie.js"></script>
<script src="../static/js/imagesloaded.pkgd.min.js"></script>
<script src="../static/js/lightbox.min.js"></script>
<script src="../static/js/masonry.pkgd.min.js"></script>
<script src="../static/js/modernizr.custom.js"></script>
<script src="../static/js/sweetalert.min.js"></script>
<script src="../static/js/works.js"></script>
<script>
    var userId;
    $(function(){
        var user = window.localStorage.user;
        if(user){
            if(new Date().getTime()-user.time>10*60*60*1000){
                console.log("登录过期");
                window.localStorage.removeItem("user");
                $(".inUser").hide();
                $(".notUser").show();

            }else{
                userId = JSON.parse(user).userId;
                $(".inUser").show();
                $(".notUser").hide();
            }
        }else{
            $(".inUser").hide();
            $(".notUser").show();
        }
    });
</script>
</body>
</html>